/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0%;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*******Titre**************
auteur: Etienne Trzpit******/

.title{
    margin-top: 60px;
}


/*****Header*********************** 
auteur: Etienne Trzpit ************/

.main-container{
    max-width: 1440px;
    margin: 0 auto;
}

.presentation{
    display:flex;
    justify-content:space-between;
}

.nav-list{
    display:flex;
    margin: 0px;
    padding:0px;
    list-style-type: none;
}

.nav-item{
    font-size: 16px;
    padding-top: 15px;
    margin-right: 10px;
}

.nav-item-blue{
    margin-right: 70px;
}

a[href="#activites"]{
    text-decoration: none;
}

a[href="#hebergements"]{
    color: var(--main-color);
    text-decoration: none;
}

.nav-item:hover{
    border-top: medium solid rgb(0,0,0);
}

.nav-item-blue:hover{
    border-top: medium solid var(--main-color);
}

.header-logo{
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
    padding-left: 0px;
    
}

/*******Form***************
auteur: Etienne Trzpit*****/

.formulaire > i {
    border: 1px solid var(--main-bg-color);
    border-radius: 20px 0px 0px 20px;
    width: 10px;
    padding: 25px 35px 10px 25px;
    background-color: #F2F2F2;
}

.formulaire{
    margin-top: 50px;
    display: flex;
}

.form-button{
    border-style: none;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    color: white;
    margin-left: 0px;
}

.form-button::after{
    content: "Rechercher";
    font-size: 18px;
}

.form-search{
    border-top: thin solid var(--main-bg-color);
    border-bottom: thin solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bold;
}

.form-search::placeholder{
    color: black;
}

.icon--blue{
    color: var(--main-color);
}

.icon--black{
    color: black;
}

/******Filters**************
auteur: Etienne Trzpit****/

.filter{
    display:flex;
    margin-top: 30px;
}

.filter-title{
    font-size: 18px;
    margin-right: 10px;
}

.filter i{
    margin-right: 10px;
}

button{
    padding:15px;
    margin-left: 3px;
    border-radius: 50px;
    border: 2px solid #D9D9D9;
    background-color: rgb(255,255,255);
    font-weight: bold;
    font-size: 17px;
}

.filter button:hover{
    background-color:rgba(0, 101, 252, 0.1);
}

.form-info{
    border: thin solid var(--filter-bg-color);
    height: 15px;
    padding: 10px 10px 0px 10px;
    border-radius: 25px;
    margin-top: 13px;
}

.info{
    display: flex;
    margin-bottom: 30px;
}

.info i{
    margin-right: 10px;
}

.info p{
    margin-top: 18px;
    font-size: 16px;
}



/******Hébergements**************
auteur: Etienne Trzpit****/


.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hebergements-cards .card{
    margin-top: 15px;
    margin-bottom: 15px;
}

.hebergements-cards img{
    width:100%;
    height: 124px;
    object-fit:cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements .card{
    width: 30%;
    height: 210px;
}

.card-title, .populaires-cards .card-subtitle, .card-subtitle, .card-rating{
    margin: 5px;
}

.hebergements a{
    font-weight: bold;
    font-size:  18px;
}


a[href="#"]{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a[href="#"] h3{
    color: black;
    font-size: 16px;
}

a[href="#"] p{
    color: black;
    font-weight: 500;
    font-size: 14px;
}


/****Activités***********
auteur: Etienne Trzpit***/

.header-activites{
    margin-left: 30px;
    margin-top: 50px;
}

.activites-content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.activites-card{
    border: thin solid var(--main-bg-color);
    border-radius: 25px;
    flex-basis: calc(22% - 10px);
    margin: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activites-card img{
    width:100%;
    height: 380px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activites-title{
    font-size: 16px;
    margin: 100px;
}

.activites-card h3{
    margin: 20px 0px 20px 20px;
}

/****Footer**************
auteur: Etienne Trzpit***/

.footer-menu{
    display:flex;
    justify-content: flex-start;
    border: thin solid var(--main-bg-color);
    background-color: var(--main-bg-color);
}

.footer-bloc{
    padding-left: 40px;
    padding-right: 40px;
    margin:0px;
    width: 33%;
}

.footer-bloc h3{
    margin-bottom: 0px;
}

.footer-menu h3{
    font-size: 18px;
}
.footer-list{
    padding-left: 0px;
    list-style-type: none;
    font-size: 16px;
}

.footer-list li{
    padding-bottom: 15px;
}

a[href="#"]{
    color: black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/* Medium devices (tablets, less/equal than 1024px)
auteur: Etienne Trzpit*/

    .filter{
        display: flex;
        flex-direction: column;
    }

    .activites-card img{
        height: 200px;
    }
    
}

/* Small devices (phones, less than 768px) 
auteur: Etienne Trzpit*/
@media (max-width: 767.98px) {

    .main-container{
        padding: 0px;
    }

    .presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo{
        content: url("../images/logo/Booki@3x.png");
    }

    .navigation{
        width: 100%;
    }

    .nav-item{
        margin: 0px;
        flex-basis: 50%;
        text-align: center;
        border-bottom: thin solid #D9D9D9;
        padding-bottom: 15px;
    }

    .nav-item:hover{
        border-bottom: medium solid rgb(0,0,0);
        border-top: none;
    }

    .nav-item-blue:hover{
        border-bottom: medium solid var(--main-color);
        border-top: none;
    }


    .title{
        margin-top: 30px;
        text-align: justify;
        margin-right: 120px;    
        margin-left: 20px;
    }

    .title p{
        margin-left: 10px;
    }

    .filter{
        flex-direction: column;
    }

    .info p{
        margin-top: 25px;
    }

    .hebergements-and-populaires{
        display: flex;
        flex-flow: column wrap;
    }

    .populaires{
        order: -1;
        margin-top: 30px;
    }

    .hebergements-cards{
        flex-direction: column;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .activites{
        flex-direction: column;
    }

    .footer-menu{
        flex-direction: column;
    }

    .populaires-cards .card{
        width: 100%;
    }

    .hebergements-cards .card{
        width: 100%;
    }

    .filter-buttons{
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        margin-left: 5px;
        margin-right: 5px;
    }

    .filter-buttons button{
        flex-basis: 45%;
        margin: 5px 5px 10px 5px;
        text-align: left;
    }

    .filter-title{
        margin-left: 25px;
        margin-top: 0px;
    }

    .info{
        justify-content: left;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0px;
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements > a{
        margin-left: 0px;
    }

    .section-title{
        margin-left: 10px;
    }

    .header-activites{
        margin-left: 40px;
    }

    .activites-content{
        flex-flow: column wrap;
    }
    .activites-card{
        margin: 10px 40px 10px 40px;
        flex-basis: 100%;
    }

    .footer-bloc{
        width: 100%;
    }

    .footer-bloc h3{
        margin-bottom: 0px;
    }

    .footer-menu{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .formulaire{
        margin: 40px 25px 0px 25px;
    }

    .formulaire > i {
        width: 10%;
        padding: 0px;
        text-align: center;
        padding: 25px 0px 0px 0px;
    }

    .form-button{
        width: 10%;
    }

    .form-search{
        width: 80%;
    }

    .form-button::after{
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f002";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        margin-left: -4px;
    }

    .form-button{
        border-radius: 10px;
    }

    .info i{
        margin-top: 23px;
    }

    .populaires-title{
        margin-right: -15px;
    }

    .activites-card img{
        height: 141px;
    }

    .populaires-cards .card-subtitle{
        margin-left: 5px;
    }
    
}